<section class="topNav">
    <div class="row">
        <div class="topNav column toc">
            <a href="./">TABLE OF CONTENTS</a>
        </div>
        <div class="socials topNav column">
                <a href="https://www.instagram.com/sabrinacarpenter/">INSTAGRAM</a>
                <a href="https://www.tiktok.com/@sabrinacarpenter?lang=en">TIKTOK</a>
                <a href="https://twitter.com/SabrinaAnnLynn">X</a>
                <a href="https://www.facebook.com/sabrinacarpenter">FACEBOOK</a>
                <a href="https://www.youtube.com/channel/UCPKWE1H6xhxwPlqUlKgHb_w">YOUTUBE</a>
        </div>
    </div>
</section>

<section class="mainContent">
    <h1>NEW RELEASE: SHORT N' SWEET OUT NOW</h1>
    <div class="row">
        <div class="column">
            <a href="https://sabrinacarpenter.lnk.to/outnow" target="_blank"><img src="../images/albumCover.jpg" /></a>
        </div>
        <div class="column">
            <p>
                featuring the hit singles Espresso and Please Please Please. Stream now<br /><br /> 
                The new video for “Taste” is available now
            </p>
        </div>
    </div>
</section>