<div class="contents">
    <h1>Table of Contents</h1>

    <nav class="contentList">
        <ul>
            <li><a href="/home">
                <div class="text-divider">
                    <span class="left-text">Home</span>
                    <span class="right-text">pg 1</span>
                </div>
            </a></li><br />
            <li><a href="/music">
            <div class="text-divider">
                <span class="left-text">Music</span>
                <span class="right-text">pg 2</span>
            </div>
            </a></li><br />
            <li><a href="/videos">
            <div class="text-divider">
                <span class="left-text">Videos</span>
                <span class="right-text">pg 3</span>
            </div>
            </a></li><br />
            <li><a href="/tour">
            <div class="text-divider">
                <span class="left-text">Tour</span>
                <span class="right-text">pg 4</span>
            </div>
            </a></li><br />
            <li><a href="/shop">
            <div class="text-divider">
                <span class="left-text">Shop</span>
                <span class="right-text">pg 5</span>
            </div>
            </a></li><br />
            <li><a href="/signup">
            <div class="text-divider">
                <span class="left-text">Sign Up</span>
                <span class="right-text">pg 6</span>
            </div>
            </a></li><br />
        </ul>
    </nav>
</div>
<h1><a href="/home" class="closeToHome">Close</a></h1>