<section class="topNav">
    <div class="row">
        <div class="topNav column toc">
            <a href="./">TABLE OF CONTENTS</a>
        </div>
        <div class="socials topNav column">
                <a href="https://www.instagram.com/sabrinacarpenter/">INSTAGRAM</a>
                <a href="https://www.tiktok.com/@sabrinacarpenter?lang=en">TIKTOK</a>
                <a href="https://twitter.com/SabrinaAnnLynn">X</a>
                <a href="https://www.facebook.com/sabrinacarpenter">FACEBOOK</a>
                <a href="https://www.youtube.com/channel/UCPKWE1H6xhxwPlqUlKgHb_w">YOUTUBE</a>
        </div>
    </div>
</section>

<section class="mainContent">
    <div class="row">
        <div class="column">
            <img src="../images/albumCover.jpg" target="_blank">
            <h1>Short n' Sweet</h1>
            <a href="https://sabrinacarpenter.lnk.to/shortnsweet" target="_blank">STream/Download</a>
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
    </div>
</section>