/* Global Styles */
html {
  margin: 0;
  padding: 0;
}

/* TOC */
body {
  background-image: url(../images/TOCWallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.TOC .contents {
  margin-top: 15%;
  margin-left: 15%;
  color: rgba(255, 255, 255, 255);
}

.TOC .contentList {
  margin-top: 5%;
  color: rgba(255, 255, 255, 255);
  width: 25vw;  
  border-style: dotted;
}

.TOC .li {
  text-decoration-line: none;
  color: rgba(255, 255, 255, 255);
  list-style: none;
}

/* Home */
.Home {
  background-image: none;
}

/* Music */
.Music {
  background-image: none;
}

/* Video */
.Video {
  background-image: none;
}

/* Tour */
.Tour {
  background-image: none;
}

/* Shop */
.Shop {
  background-image: none;
}

/* Sign Up */
.SignUp {
  background-image: none;
}