/* Global Styles */
html {
  margin: 0;
  padding: 0;
}

/* TOC */
body {
  background-image: url(../images/TOCWallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.toc .contents {
  margin-top: 15%;
  margin-left: 15%;
  color: rgba(255, 255, 255, 255);
}
/* Home */

/* Music */

/* Video */

/* Tour */

/* Shop */

/* Sign Up */