/* Global Styles */
html {
  margin: 0;
  padding: 0;
}

/* TOC */
body {
  background-image: url(../images/TOCWallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Home */

/* Music */

/* Video */

/* Tour */

/* Shop */

/* Sign Up */